*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    background-color: rgb(82, 107, 199);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
nav h1{
    color: aliceblue;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav ul{
    display: flex;
    justify-content: center;
        align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0px 5px;
}
nav ul li a{
    color: whitesmoke;
    font-size: 20px;
    text-decoration: none;
   
}
#schedule table,th,td{
    border: 5px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 1150px;
}
#schedule th{
    height: 50px;
    font-size: xx-large;
}
.abc{
    background-color: yellow;
    text-decoration: solid;
    height: 40px;
    font-size:x-large;
}
.def{
    background-color: cadetblue;
    text-decoration: solid;
    height: 40px;
    font-size:x-large;
}
.ab{
    display: flex;
}
#b a{
    font-weight: bold;
    color: black;
    font-size: 20px;
}
footer{
           
    background: rgb(82, 107, 199);
    height: auto;
    width: 100vw;
    font-family: "open Sans";
    padding-top: 40px;
    color: whitesmoke;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: rgb(19, 43, 14);
}
.footer-bottom{
    background: rgb(82, 107, 199);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
